<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @user.name %>, You have been charged for not keeping your commitment</h1>
    <p>
      A charge of <%= @commitment.wager %> was processed on your credit card.
    </p>
    <p>
      Thanks,<br/>
      Yash
    </p>
  </body>
</html>
