<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to pownse.com, <%= @user.name %></h1>
    <p>
      Hope this helps you as much as it helped me. Thanks for joining and have a great day!
    </p>
    <p>
      Thanks,<br/>
      Yash
    </p>
  </body>
</html>
