<div class="left hero-unit">
  <h1/h1>
  <h2>Frequently Asked Questions</h2>

  <p>What is Pwnse?</p>
  Pwnse allows you to put monetary stakes on achievement of commitments. The idea is simple
  if you really want something to be done and think tardyness is stopping you from doing
  the things you need to do to complete the task, then bet on its success. You lose if you
  don't do what you are supposed to. 
  <p>Who can benefit from it?</p>
  <p>Where does the money go?</p>
  <p>But I would rather donate to charity than some random person...</p>
  <p>What happens if I don't checkin on time?</p>
  <p>Can I delete a commitment?</p>
  </p>
  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>
